.time_axis{
	height: 155px;
	background: #ffffff;
	margin-top: 15px;
}
.ta_left{
	width: 155px;
	height: 100%;
	background: url(../img/pri/time_bg.gif) center right no-repeat;
}
.ta_right{
	width: calc(100% - 155px);
}
.ta_bg{
	width: 100%;
	height: 63px;
	background: url(../img/jun/biaoqiam2.gif) center no-repeat;
}
.ta_mon{
    height: 25px;
    margin-top: 5px;
    background: url(../img/pri/line.gif) 5px repeat-x;
}
.ta_mon a{
	display: block;
	float: left;
	width: 65px;
	height: 25px;
	border-radius: 5px;
	background: #999999;
	margin-right: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
}
.ta_mon a:hover{
	background: #13b393;	
}
.ta_mon a.ta_mon_hov{
	background: #13b393;	
}
.ta_des p{
	color: #13b393;
	margin-top: 20px;
}
.con_sign{
	margin-top: 17px;
	height: 107px;
	background: url(../img/pri/ban_sign.jpg) center no-repeat;
}
.jun_pro{
	padding-top: 40px;
	background: #ffffff;
}
.pro_tit{
	margin-bottom: 48px;
}
.pro_tit span{
	font-size: 48px;
}
.prd_l{
	width: 325px;
	height: 500px;
	position: relative;
}
.prd_l ul{
	position: absolute;
	top: 20px;
}
.prd_l ul li{
	width: 220px;
	height: 155px;
	position: absolute;
	cursor: pointer;
}
.prd_l ul li:first-child{
	background: url(../img/jun/cr01.png) center no-repeat;
}
.prd_l ul li:first-child:hover,
.prd_l ul li:first-child.prho{
	background: url(../img/jun/cr01-1.png) center no-repeat;
}
.prd_l ul li:nth-child(2){
	background: url(../img/jun/cr02.png) center no-repeat;
	top: 120px;
    left: 105px;
}
.prd_l ul li:nth-child(2):hover,
.prd_l ul li:nth-child(2).prho{
	background: url(../img/jun/cr02-1.png) center no-repeat;
}
.prd_l ul li:last-child{
	background: url(../img/jun/cr03.png) center no-repeat;
	top: 272px;
    left: 53px;
}
.prd_l ul li:last-child:hover,
.prd_l ul li:last-child.prho{
	background: url(../img/jun/cr03-1.png) center no-repeat;
}
.prd_r{
	width: 725px;
	padding-right: 100px;
	height: 500px;	
	margin-left: 50px;
	background: url(../img/jun/czbg01.png) right bottom no-repeat;
}
.prd_r .pt{
	font-size: 24px;
	color: #13b393;
	margin-bottom: 10px;
}
.prd_r .pd{
	font-size: 14px;
	color: #666666;
	line-height: 28px;
	text-indent: 2em;
	margin-bottom: 10px;
}
.prd_r.jg1 .pt{
	margin: 0;
	line-height: 30px;
}
.prd_r.jg1 .pd{
	margin: 3px;
	line-height: 25px;
	text-indent: 0;
}
.jun_tit{
	color: #666666;
	font-size: 36px;
}

.jun_sys{
	background: #ffffff;
	padding-top: 25px;
}
.sys_des ul{
	box-sizing: border-box;
	margin-top: 40px;
	padding: 0 31px;
}
.sys_des ul li{
	float: left;
	width: 326px;
	height: 332px;
	margin-right: 80px;
	background: url(../img/pri/sys_bg.jpg) center no-repeat;
	position: relative;
}
.sys_des ul li:last-child{
	margin-right: 0;
}
.sys_des ul li p.sys_dte{
	box-sizing: border-box;
	font-size: 14px;
	text-align: justify;
	padding: 0 40px;
    position: absolute;
    top: 95px;
	line-height: 25px;
}
.sys_des ul li p.sys_dte span{
	display: block;
	text-align: center;
}
.sys_des ul li p.sys_dti{
	color: #ffffff;
	line-height: 43px;
	position: absolute;
	bottom: 0px;
	left: 68px;
}
.jun_dre{
	box-sizing: border-box;
	height: 723px;
	padding-top: 60px;
	background: #ffffff;
}
.dre_tit{
	margin-bottom: 32px;
}
.dre_des{
	height: 603px;
	width: 1197px;
	margin: auto;
	background: url(../img/jun/dre_bg.png) top center no-repeat;
	position: relative;
}
.dre_des p{
	position: relative;
	width: 200px;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.dre_des p.dds-1{
    top: 68px;
    left: 410px;
}
.dre_des p.dds-2{
	top: 259px;
    left: 205px;
}
.dre_des p.dds-3{
	top: 385px;
    left: 530px;
}
.dre_des p.dds-4{
    top: 200px;
    left: 930px;
}